body, html {
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    background-image: url('../images/got.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font: 14px "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 40px;
}

#title {
    margin: 0 -40px 40px -40px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 0;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: 100;
}

p {
    line-height: 40px;
}

select {
    font-size: 1.2em;
    margin: 0 10px;
}

a {
  color: #00B7FF;
}

input.submit {
    width: 350px;
    font-size: 1.4em;
    border: 1px solid #666666;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}

.results {
    width: 100%;
    margin: 40px -40px 0 -40px;
    text-align: center;
}

.results h2, h4 {
    font-weight: bold;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    color: #000000;
    margin-bottom: 0;
}

.results h2 {
    font-size: 3em;
    line-height: 1.5em;
    padding: 1em 2em;
    box-sizing: border-box;
}

.results h2 .value {
    font-weight: 100;
    white-space: nowrap;
}

.results h4 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    padding: 1em 2em;
    box-sizing: border-box;
}

.results h4 .value {
    font-weight: bold;
    white-space: nowrap;
}

.average-age {
    background-color: rgba(0, 0, 0, .65);
}

.bloodiest-book {
    background-color: rgba(255, 0, 0, .65);
}

.results ul {
    width: 100%;
    background-color: rgba(0, 0, 0, .65);
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
}

.results li {
    margin: 10px 0;
}

.is-dead {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
}